<!-- ------------ -->
<!-- @author 전판근 -->
<!-- ------------ -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<aside class="meet-right-aside" th:fragment="rightSidebar">
	<div class="right-summary-list" id="event-summary-list">
		<div class="right-summary-list-top">
			<h1>모임 내 액티비티</h1>
			<th:block th:if="${list.isLogin} == true and (${#lists.contains(user_no_list, list.user_no)})">
				<p>
					<a href="#">+</a>
				</p>
			</th:block>
		</div>
		<ul class="right-summary-list-contents" id="activity-summary-list">
			<th:block
				th:if="(${list.isLogin} == false or ${list.isLogin} == null) or (not ${#lists.contains(user_no_list, list.user_no)})">
				<div class="no-contents-item">
					<p>로그인 혹은 가입 후 이용해 주세요.</p>
				</div>
			</th:block>
			<th:block th:if="${list.isLogin} == true and ${ #lists.isEmpty(avos) }">
				<div class="no-contents-item">
					<p>생성된 액티비티가 없습니다.</p>
				</div>
			</th:block>
			<th:block th:if="${list.isLogin} == true and ${ not #lists.isEmpty(avos) }">
				<th:block th:each="avo : ${avos}">
					<li class="activity_list_item" th:attr="idx=${ avo.activity_no }">
						<p>[[${ avo.activity_name }]]</p>
					</li>
				</th:block>
			</th:block>
		</ul>
	</div>
	<div class="right-summary-list" id="vote-summary-list">
		<div class="right-summary-list-top">
			<h1>투표</h1>
			<th:block>
				<th:block th:if="${list.isLogin} == true and (${#lists.contains(user_no_list, list.user_no)})">
					<p id="vote_create_btn">+</p>
				</th:block>
		</div>
		<ul class="right-summary-list-contents">
			<th:block
				th:if="${list.isLogin} == false or ${list.isLogin} == null or (not ${#lists.contains(user_no_list, list.user_no)})">
				<div class="no-contents-item">
					<p>로그인 혹은 가입 후 이용해 주세요.</p>
				</div>
			</th:block>
			<th:block th:if="${list.isLogin} == true and ${ #lists.isEmpty(vvos) }">
				<div class="no-contents-item">
					<p>생성된 투표가 없습니다.</p>
				</div>
			</th:block>
			<th:block th:if="${list.isLogin} == true and ${ not #lists.isEmpty(vvos) }">
				<th:block th:each="vvo : ${ vvos }">
					<li class="vote-list-item" th:attr="vote_no=${ vvo.vote_no }">
						<p>[[${ vvo.vote_title }]]
						<p>
					</li>
				</th:block>
			</th:block>
		</ul>
	</div>

</aside>