<!-- ------------ -->
<!-- @author 전판근 -->
<!-- ------------ -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<aside class="meet-right-aside" th:fragment="rightSidebar">
  <div class="right-summary-list" id="event-summary-list">
    <div class="right-summary-list-top">
      <h1>모임 내 액티비티</h1>
      <p>
        <a href="#">+</a>
      </p>
    </div>
    <ul class="right-summary-list-contents" id="activity-summary-list">
      <th:block th:if="${ avos.size() == 0 }">
        <div class="no-contents-item">
          <p>생성된 액티비티가 없습니다.</p>
        </div>
      </th:block>
      <th:block th:if="${ avos.size() > 0 }">
        <th:block th:each="avo : ${avos}">
          <li class="activity_list_item" idx="${ avo.activity_no }"><p>[[${ avo.activity_name }]]</p></li>
        </th:block>
      </th:block>
    </ul>
  </div>
  <div class="right-summary-list" id="vote-summary-list">
    <div class="right-summary-list-top">
      <h1>투표</h1>
      <p id="vote_create_btn">+</p>
    </div>
    <ul class="right-summary-list-contents">
      <th:block th:if="${ vvos.size() == 0 }">
        <div class="no-contents-item">
          <p>생성된 투표가 없습니다.</p>
        </div>
      </th:block>
      <th:block th:if="${ vvos.size() > 0 }">
        <th:block th:each="vvo : ${ vvos }">
          <li class="vote-list-item" th:attr="vote_no=${ vvo.vote_no }"><p>[[${ vvo.vote_title }]]<p></li>
        </th:block>
      </th:block>
    </ul>
  </div>

</aside>