.modal-bg {
    width: 100;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 999;
}

.modal-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 330px;
    height: 180px;
    background: #ffffff;
    z-index: 1000;
    display: flex;
    text-align: center;
    flex-direction: column;
    border-radius: 15px;
    
}

.modal-wrap *{
    font-family: 'Happiness-Sans';
}

.modal-content-inner{
    padding-top: 30px;
    height: 140px;
}

.modal-content1{
    padding-bottom: 20px;
    font-size: 19px;
    height: 30px;
}

.modal-content2{
    height: 50px;
    display: flex;
	justify-content: space-around;
    margin-left: 15px;
    margin-right: 15px;
}

.withdrawalOK{
	background: #3DA5F5;
	border: 0px;
	border-radius: 4px;
	text-align: center;
	color: #ffffff;
	font-weight: bold;
	width: 130px;
	height: 40px;
	font-weight: bold;
	font-size: 15px;
	margin:auto;
	margin-top: 10px;
	margin-bottom: 20px;
    display:block;
}

.cancle{
    background: #F86D7D;
	border: 0px;
	border-radius: 4px;
	text-align: center;
	color: #ffffff;
	font-weight: bold;
	width: 130px;
	height: 40px;
	font-weight: bold;
	font-size: 15px;
	margin:auto;
    margin-top: 10px;
	margin-bottom: 20px;
    display:block;
}