<!-- ------------ -->
<!-- @author 전판근 -->
<!-- ------------ -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<section class="post-detail" th:fragment="meet_content">
	<div class="post-detail-top">
		<h1 class="post-detail-title" id="post-detail-title">
			[[${ post_detail.board_title }]]
		</h1>
		<div class="post-user-info">
			<div class="user-info">
				<div class="user-info-profile">
					<img src="/IMG/common/loopy.svg" alt="프로필 이미지" />
				</div>
				<p class="user-nickname">[[${ post_detail.user_name }]]</p>
				<p class="write-date">[[${ post_detail.board_date }]]</p>
			</div>

			<th:block th:if="${ post_detail.user_no == list.user_no }">
				<div class="post-more-select">
					<img class="img-more" src="/IMG/common/more.svg" alt="" />
					<ul class="post-option-list" th:attr="idx=${ post_detail.board_no }">
						<li class="post-option-item" data-popup-open="update">수정하기</li>
						<li class="post-option-item" data-popup-open="delete">삭제하기</li>
					</ul>
				</div>
			</th:block>
		</div>
	</div>

	<pre class="post-detail-content">[[${ post_detail.board_content }]]</pre>

	<div class="comment-wrap">
		<!--		<form action="c_insertOK.do" method="post" class="form-comment">-->
		<div class="form-comment">
			<textarea name="comment_content" id="comment_content" placeholder="댓글을 남겨주세요."></textarea>
			<input type="button" id="btn-comment-insert" value="등록" th:attr="board_no=${post_detail.board_no}, user_no=${list.user_no}">
		</div>
		<!--		</form>-->

		<th:block th:each="comment : ${ comment_list }">
			<div class="user-comments">
				<div class="user-comment">
					<div class="comment-user-info-top">
						<div class="comment-user-info">
							<div class="comment-user-info-profile">
								<img th:src="@{https://meet-a-bwa.s3.ap-northeast-2.amazonaws.com/user/}+${comment.user_image}" alt="프로필 이미지" />
							</div>
							<p class="comment-user-nickname">[[${ comment.user_nickname }]]</p>
							<p class="comment-write-date">[[${ comment.comment_date }]]</p>
						</div>
						<c:if test="${ comment.user_no eq list.user_no }">
							<button class="btn-comment-delete" idx="${ comment.comment_no }">삭제</button>
						</c:if>
					</div>
					<pre class="post-detail-comment">[[${ comment.comment_content }]]</pre>
				</div>
			</div>
		</th:block>
	</div>
</section>