<!-- ------------ -->
<!-- @author 전판근 -->
<!-- ------------ -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>밋:어봐 모임 페이지</title>

  <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon" />

	<script src="/static/JS/common/jquery-3.6.1.min.js"></script>
	<script src="/static/JS/common/jquery.cookie.js"></script>
</head>
<body>
  <!-- <div th:replace="thymeleaf/html/"></div> -->
  <section class="bodyWrap">
    <div class="contentWrapRow">
      <div th:replace="thymeleaf/html/meet/common/leftSidebar :: leftSidebar"></div>
      <div th:replace="${content} :: meet_content"></div>
      <div th:replace="thymeleaf/html/meet/common/rightSidebar :: rightSidebar"></div>
    </div>
  </section>
</body>
</html>