<!-- ------------ -->
<!-- @author 전판근 -->
<!-- ------------ -->

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>밋:어봐 모임 페이지</title>

	<link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon" />

	<link rel="stylesheet" href="/CSS/common/common.css" />
	<link rel="stylesheet" href="/CSS/common/header.css" />
	<link rel="stylesheet" href="/CSS/common/footer.css" />
	<link rel="stylesheet" href="/CSS/common/toast.css" />

	<link rel="stylesheet" href="/CSS/main/main.css" />
	<link rel="stylesheet" href="/CSS/user/login.css" />
	<link rel="stylesheet" href="/CSS/user/logout.css" />
	<link rel="stylesheet" href="/CSS/user/find-popup.css" />

	<link rel="stylesheet" href="/CSS/meet/searchBar.css" />
	<link rel="stylesheet" href="/CSS/meet/meet-detail.css" />
	<link rel="stylesheet" href="/CSS/meet/feed.css" />
	<link rel="stylesheet" href="/CSS/meet/meet-info.css" />
	<link rel="stylesheet" href="/CSS/meet/post-detail.css" />
	<link rel="stylesheet" href="/CSS/meet/post-writer.css" />
	<link rel="stylesheet" href="/CSS/meet/post-update.css" />
	<link rel="stylesheet" href="/CSS/meet/post-delete.css" />

	<link rel="stylesheet" href="/CSS/vote/vote_common.css" />
	<link rel="stylesheet" href="/CSS/vote/vote_create.css" />
	<link rel="stylesheet" href="/CSS/vote/vote_update.css" />
	<link rel="stylesheet" href="/CSS/vote/vote_view.css" />

	<script src="/JS/common/jquery-3.6.1.min.js"></script>
	<script src="/JS/common/jquery.cookie.js"></script>
	<script src="/JS/common/login.js"></script>
	<script src="/JS/common/logout.js"></script>
	<script src="/JS/common/id_find.js"></script>
	<script src="/JS/common/pw_find.js"></script>
	<script src="/JS/common/header.js"></script>

	<!-- DATE PICKER -->
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="/JS/common/datePicker_ko.js"></script>


	<!-- SUMMERNOTE -->
	<link rel="stylesheet" href="/CSS/summernote/summernote-lite.css" />
	<script src="/JS/meet/summernote-lite.js"></script>
	<script src="/JS/meet/summernote-ko-KR.js"></script>

	<script src="/JS/meet/feed.js"></script>
	<script src="/JS/meet/post_detail.js"></script>
	<script src="/JS/meet/post_writer.js"></script>

	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

	<script src="/JS/vote/vote_create.js"></script>
	<script src="/JS/vote/vote_select.js"></script>
	
	<script th:inline="javascript">
		/*<![CDATA[*/
		var is_login = /*[[${session.user_id}]]*/ "is_login";
		/*]]*/
	</script>

	<script>
		$(function () {
			$("#summernote").summernote({
				placeholder: '내용을 입력해 주세요.',
				height: 300,
				width: 720,
				minHeight: null,
				maxHeight: null,
				focus: true,
				lang: "ko-KR",


			});
		})
	</script>

</head>

<body>
	<!--  START HEADER REPLACE -->
	<th:block th:replace="thymeleaf/html/common/header :: header(${session.user_id})"></th:block>
	<!--  END HEADER REPLACE -->

	<!-- START CONTENT REPLACE -->
	<div id="bodyWrap">
		<div id="contentWrapRow">
			<div th:replace="thymeleaf/html/meet/common/leftSidebar :: leftSidebar"></div>
			<div th:replace="${content} :: meet_content"></div>
			<div th:replace="thymeleaf/html/meet/common/rightSidebar :: rightSidebar"></div>


		</div>
		<!--  START FOOTER INCLUDE -->
		<th:block th:replace="thymeleaf/html/common/footer :: footer"></th:block>
		<!--  END FOOTER INCLUDE -->
	</div>

	<!-- END CONTENT REPLACE -->

	<!-- *************************  -->
	<!-- START delete popup SECTION -->
	<!-- *************************  -->
	<div class="delete-popup-layer" data-popup="delete">
		<div class="delete-popup-wrap">
			<img src="/IMG/common/worry.svg" alt="" />
			<h1>정말 삭제 하시겠습니까?</h1>

			<div class="btn-group">
				<button id="btn-delete" class="btn-delete" data-popup-close="delete">삭제</button>
				<button class="btn-cancel" data-popup-close="delete">취소</button>
			</div>
		</div>
	</div>
	<!-- *************************  -->
	<!-- END delete popup SECTION -->
	<!-- *************************  -->

	<!-- START LOGIN POPUP -->
	<div class="login-layer blind">
		<div class="login-popup-wrap">
			<div class="login-top">
				<img id="logo" src="/IMG/common/logo.svg" alt="login logo image" />
			</div>

			<div class="login-middle">
				<div class="login-form" id="loginForm">
					<label for="id">아이디</label>
					<input type="text" id="idInput" name="id" placeholder="아이디 입력" />

					<label for="pw">비밀번호</label>
					<input type="password" id="pwInput" name="pw" placeholder="비밀번호 입력" />

					<input type="button" id="loginOK_btn" value="로그인">
					<input type="button" value="창닫기" id="login-popup-closeBtn">
				</div>

				<div class="login-bottom">
					<div id="id_find_btn" class="findCommon">ID 찾기</div>
					<div id="pw_find_btn" class="findCommon">PW 찾기</div>
					<div>
						<a href="/meet-a-bwa/u_insert.do" class="findCommon">회원가입</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- END LOGIN POPUP -->

	<!-- START LOGOUT POPUP -->
	<div class="logout-layer blind">
		<div class="logout-popup-wrap">
			<img src="/IMG/common/worry.svg" alt="logout worry img" />
			<h1>
				정말 로그아웃 <br />
				하시겠습니까?
			</h1>

			<div class="btn-group">
				<a href="/meet-a-bwa/logoutOK.do">
					<button class="btn-logout">로그아웃</button>
				</a>
				<button class="btn-cancel">취소</button>
			</div>
		</div>
	</div>
	<!-- END LOGOUT POPUP -->

	<!-- START WARNING POPUP -->
	<div class="warning-layer blind">
		<div class="warning-popup-wrap">
			<div class="warning-img-section">
				<img src="/IMG/common/warning.svg" alt="경고 이미지" />
			</div>
			<h1 id="warning-text">로그인 후 이용가능한 기능입니다.</h1>

			<div class="btn-group">
				<button class="warning-close">취소</button>
			</div>
		</div>
	</div>
	<!-- END WARNING POPUP -->

	<!-- START ID - FIND POPUP -->
	<div id="id_find_wrap" class="find-popup-layer blind">
		<div class="find-popup-wrap">
			<div class="popup-header">
				<h1>ID 찾기</h1>
				<h3>가입 시 기입한 <br />이메일을 입력해주세요.</h3>
			</div>

			<input id="id-email-input" class="email-input" type="text" placeholder="이메일을 입력해주세요" />
			<p id="id_find_result" class="resultCommon blind"></p>

			<div class="btn-group">
				<button id="id_find_okBtn" class="btn-find">확인</button>
				<button id="id_find_cancleBtn" class="btn-cancel">취소</button>
			</div>
		</div>
	</div>
	<!-- END ID FIND POPUP -->

	<!-- START PW - FIND POPUP -->
	<div id="pw_find_wrap" class="find-popup-layer blind">
		<div class="find-popup-wrap">
			<div class="popup-header">
				<h1>비밀번호를 잊어버리셨나요?</h1>
				<h3>가입 시 기입한 <br />이메일을 입력해주세요.</h3>
			</div>

			<input id="pw-email-input" class="email-input" type="text" placeholder="이메일을 입력해주세요" />
			<p id="pw_find_result" class="resultCommon blind"></p>

			<div class="btn-group">
				<button id="pw_find_okBtn" class="btn-find-pw">확인</button>
				<button id="pw_find_cancleBtn" class="btn-cancel">취소</button>
			</div>
		</div>
	</div>
	<!-- END PW FIND POPUP -->

	<div id="spinner-wrap" class="popup-background blind">
		<!-- START SPINNER SECTION -->
		<div id="spinner-section">
			<img src="/IMG/common/spinner.gif" class="spinner-img">
		</div>
	</div>

	<!-- START COMMON ALERT POPUP -->
	<div id="common-alert-popup-wrap" class="popup-background blind">
		<div id="common-alert-popup" class="alert-popup">
			<section class="alert-txt-section">
				<span class="common-alert-txt">
					공용 알러트팝업
				</span>
			</section>
			<section id="common-alert-btn" class="alert-btn-section">
				<span>확인</span>
			</section>
		</div>
	</div>

	<!-- START COMMMON CONFIRM POPUP -->
	<div id="common-confirm-popup-wrap" class="popup-background blind">
		<div class="confirm-popup">
			<section class="confirm-txt-section">
				<span class="logout-txt">
					공용 컨펌팝업
				</span>
			</section>
			<section class="confirm-btn-section">
				<div class="confirm-yesBtn">예</div>
				<div class="confirm-noBtn">아니오</div>
			</section>
		</div>
	</div>

	<!-- *******************  -->
	<!--  투표 확인 -->
	<!-- *******************  -->

	<!-- START voteWrap -->
	<div id="voteWrap" class="vote-view-wrap blind">
		<div id="divWrap" class="vote_section">
			<div id="header_wrap" class="wrap_common">
				<span id="view-title">투표 제목 부분입니다.</span>
				<img src="/IMG/common/more-vertical.png" alt="더보기 세로 이미지" id="more_vertival" />
				<div id="dropdown" class="select_custom blind">
					<img src="/IMG/common/vector.png" alt="셀렉트 before 이미지" id="select_img" />
					<ul class="v_select_list_wrap">
						<li class="select_list" id="update">수정</li>
						<li class="select_list" id="delete">삭제</li>
						<li class="select_list" id="end">투표종료</li>
					</ul>
				</div>
			</div>
			<div id="body_wrap" class="wrap_common">
				<fieldset id="description_field">
					<legend class="field_title">투표 설명</legend>
					<div id="vote_view_description">
						<p id="text_area">
							2022년 8월 28일 액티비티 후 저녁 메뉴에 관한 투표입니다.<br> 2022년 8월 28일 액티비티 후
							저녁 메뉴에 관한 투표입니다.<br> 2022년 8월 28일 액티비티 후 저녁 메뉴에 관한 투표입니다.<br>
							2022년 8월 28일 액티비티 후 저녁 메뉴에 관한 투표입니다.
						</p>
					</div>
				</fieldset>
				<!-- END 투표 설명란 -->

				<!-- START 투표 선택란 -->
				<div id="choice_wrap">
					<!-- START choiceList-->
					<div class="choiceList blind">
						<section class="txt_wrap_section">
							<section class="txt_section">
								<span class="txt">항목 타이틀 자리</span>
								<!-- 결과보여줄 때, blind 제거 -->
								<span class="choice_mem_cnt blind">0명</span>
							</section>

							<!-- 결과보여줄 때, blind 제거해서 -->
							<span class="list_percentage_wrap blind">
								<!-- 해당 항목이 선택받은 퍼센테이지를 width로 대입해 보이게 하기-->
								<span class="list_percentage"></span>
							</span>
						</section>

						<div class="out_circle">
							<!-- 보일 때 choice 추가-->
							<!-- 가릴 때 choice 삭제-->
							<div class="in_circle"></div>
						</div>
					</div>
					<!-- END choiceList -->
				</div>
				<!-- END 투표 선택란 -->
			</div>

			<div id="footer_wrap" class="wrap_common">
				<section id="footer_info">
					<span class="info_common" id="vote_writer">작성자 정상윤</span>
					<span class="info_common" id="end_date">투표마감:2022-09-01 오전10:00</span>
				</section>

				<section class="voteBtn btn_section blind">
					<input type="button" id="voteBtn" class="btnCommon" value="투표하기" />
					<input type="button" class="btnCommon vote_closeBtn" value="창닫기" />
				</section>
				<section class="reVoteBtn btn_section blind">
					<input type="button" id="re_voteBtn" class="btnCommon" value="재투표하기" />
					<input type="button" class="btnCommon vote_closeBtn" value="창닫기" />
				</section>
				<section class="view_closeBtn btn_section blind">
					<input type="button" id="view_closeBtn2" class="btnCommon" value="닫기" />
				</section>
			</div>
		</div>

		<div id="confirmWrap" class="blind">
			<div id="confirm_head">
				<img src="/IMG/common/fluent_more-horizontal-20-regular.png" id="more-horizontal" />
			</div>
			<div id="confirm_txt_wrap">
				<span id="confirm_txt">삭제하시겠습니까?</span>
			</div>
			<div id="confirm_btn_wrap">
				<input type="button" id="yesBtn" class="yesBtn confirm_btn_common" value="예" />
				<input type="button" id="noBtn" class="noBtn confirm_btn_common" value="아니오" />
			</div>
		</div>
	</div>
	<!-- END voteWrap -->




	<!-- *******************  -->
	<!-- 투표 생성 / 수정 -->
	<!-- *******************  -->

	<!-- Start voteWrap -->
	<div id="voteWrap" class="vote-create-update-wrap blind">
		<!-- Start vote_popup -->
		<div id="vote_popup">

			<!-- 이벤트 생성일 때 SHOW -->
			<div id="event-create" class="blind">
				<h1 id="title">투표 생성</h1>

				<!-- Start sectionWrap -->
				<div id='sectionWrap'>
					<section id="titleSection" class="section_common">
						<h4 class="section_title">투표 제목</h4>
						<section id="title_section">
							<input type="text" id="vote_title" class="common" placeholder="투표 제목">
							<span id="title_text_length" class="text_length">0/15</span>
						</section>
					</section>

					<section id="endDateSection" class="section_common">
						<h4 class="section_title">투표 마감 날짜 설정</h4>
						<div class="pickerWrap">
							<input type="text" id="vote_endDate" class="dateCommon" autocomplete="off"
								placeholder="날짜를 선택해주세요." readonly>
							<!-- START TIMEPICKER -->
							<div id="timepicker_box" class="timepicker_box dateCommon">
								<section class="timeSection">
									<span id="timeValue">--:--:--</span>
								</section>

								<section class="timeImgSection">
									<img src="/IMG/common/clock.svg" id="timeImg" alt="시계이미지" />
								</section>

								<div id="customTimePicker" class="customTimePicker blind">
									<div id="ampm_choice" class="ampm_choice">
										<ul id="ampm_listWrap">
											<li class="sample ampm-list"></li>
										</ul>
									</div>
									<div id="time_choice" class="choiceCommon">
										<ul id="time_listWrap">
											<li class="sample time-list"></li>
										</ul>
									</div>
									<div id="minute_choice" class="choiceCommon">
										<ul id="minute_listWrap">
											<li class="sample minute-list"></li>
										</ul>
									</div>
								</div>
							</div>
							<!-- END TIMEPICKER -->
						</div>
					</section>

					<section class="section_common">
						<h4 class="section_title">투표 내용</h4>
						<section>
							<textarea id="vote_description" class="vote_description common"
								placeholder="투표 내용"></textarea>
							<span id="description_text_length" class="text_length">0/150</span>
						</section>
					</section>

					<section class="voteSection section_common">
						<h4 class="section_title">투표 항목</h4>

						<div id="vote_list_Wrap">
							<!-- SAMPLE VOTE LIST -->
							<div class="vote_list sample blind">
								<label class="list_title"></label>
								<input type="text" class="list_text" />
								<img src="/IMG/common/close.svg" alt="항목 삭제 이미지" class="removeBtn" />
							</div>
						</div>
					</section>
					<input type="button" id="vote_list_plusBtn" value="투표 항목 추가" />
				</div>
				<!-- END sectionWrap -->

				<div class="btnWrap">
					<input type="button" id="vote_createBtn" class="btnCommon" value="투표 만들기">
					<input type="button" id="vote_cancleBtn" class="btnCommon" value="취소">
				</div>
			</div>
			<!-- END 투표 생성 -->

			<!--  투표 수정일 때 SHOW -->
			<div id="event-update" class="blind">
				<div id="topSection">
					<h1 id="update-title">투표 수정</h1>
					<img src="/IMG/common/close.svg" alt="close이미지" id="closeBtn" />
				</div>

				<!-- Start sectionWrap -->
				<div id='sectionWrap'>
					<section id="titleSection" class="section_common">
						<h4 class="section_title">투표 제목</h4>
						<section id="title_section">
							<input type="text" id="u_vote_title" class="common" placeholder="투표 제목">
							<span id="u_title_text_length" class="text_length">0/15</span>
						</section>
					</section>

					<section id="endDateSection" class="endDateSection section_common">
						<h4 class="section_title">투표 마감 시간/날짜 설정</h4>
						<div class="pickerWrap">
							<input type="text" id="u_vote_endDate" class="vote_endDate dateCommon" autocomplete="off"
								placeholder="날짜를 선택해주세요." readonly>
							<div id="u_timepicker_box" class="timepicker_box dateCommon">
								<section class="timeSection">
									<span id="u_timeValue">--:--:--</span>
								</section>

								<section class="timeImgSection">
									<img src="/IMG/common/clock.svg" id="timeImg" alt="시계이미지" />
								</section>

								<div id="u_customTimePicker" class="customTimePicker blind">
									<div id="u_ampm_choice" class="ampm_choice">
										<ul id="u_ampm_listWrap">
											<li class="sample ampm-list"></li>
										</ul>
									</div>
									<div id="u_time_choice" class="choiceCommon">
										<ul id="u_time_listWrap">
											<li class="sample time-list"></li>
										</ul>
									</div>
									<div id="u_minute_choice" class="choiceCommon">
										<ul id="u_minute_listWrap">
											<li class="sample minute-list"></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</section>

					<section class="section_common">
						<h4 class="section_title">투표 내용</h4>
						<section>
							<textarea id="u_vote_description" class="vote_description common"
								placeholder="투표 내용"></textarea>
							<span id="u_description_text_length" class="text_length">0/150</span>
						</section>
					</section>

					<section class="voteSection section_common">
						<h4 class="section_title">투표 항목 (* 수정 불가)</h4>

						<div id="u_vote_list_Wrap">
							<!-- SAMPLE VOTE LIST -->
							<div class="vote_list sample blind">
								<label class="list_title"></label>
								<input type="text" class="list_text" readonly />
							</div>
						</div>
					</section>

				</div>
				<!-- END sectionWrap -->

				<div class="btnWrap">
					<input type="button" id="vote_updateBtn" class="btnCommon" value="투표 수정">
				</div>
			</div>
			<!-- END 투표 수정 -->
		</div>
		<!-- END vote_popup -->
	</div>

	<div id="confirmWrap" class="update-confirm-wrap blind">
		<div id="confirm_head">
			<img src="/IMG/common/fluent_more-horizontal-20-regular.png" id="more-horizontal" />
		</div>
		<div id="confirm_txt_wrap">
			<span id="confirm_txt">투표를 조기종료 하시겠습니까?</span>
		</div>
		<div id="confirm_btn_wrap">
			<input type="button" id="end_yesBtn" class="yesBtn confirm_btn_common" value="예" />
			<input type="button" id="end_noBtn" class="noBtn confirm_btn_common" value="아니오" />
		</div>
	</div>
	<!-- END voteWrap -->

	<!-- START toastWrap -->
	<div id="toastWrap" class="hide">
		<span id="toast_txt"></span>
	</div>
	<!-- END toastWrap -->
</body>

</html>