<!-- ------------ -->
<!-- @author 최진실 -->
<!-- ------------ -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
	<div id="bodyWrap">
		<form action="/meet-a-bwa/a_updateOK.do" method="post" enctype="multipart/form-data">
			<div class="activityCUDWrap">
				<section class="blind">
					<label for="activity_no">activity_no:</label>${avo2.activity_no}<input id="activity_no"
						name="activity_no" th:value="${avo2.activity_no}" />
				</section>
				<h2 id="activityTitle">액티비티 수정</h2>
				<hr class="StartLine">
				<div id="img_la">
					<label for="img_header">프로필 사진</label>
				</div>
				<div id="imgWrap">
					<section class="img_body">
						<div id="input-image">
							<img src="${avo2.activity_image}" width=300px; height=200px; id="multipartFile_activity" name="multipartFile_activity" />
						</div>
						<div class="img_btn_meet_activity">
							<label class="input-file-btn" for="input-file"> <img
									src="/meet-a-bwa/resources/img/imageAddBtn2.svg" width=70px; height=70px;>
							</label> <input type="file" name="upFile" id="input-file" class="input-file">

							<button type="button" id="delete-file2" value="삭제">
								<img src="/meet-a-bwa/resources/img/imageDropBtn2.svg" width=70px; height=70px;
									alt="삭제">
							</button>
						</div>
					</section>
				</div>
				<div id="namediv">
					<div id="nameLa">
						<label>액티비티 이름</label>
					</div>
					<input type="text" placeholder="액티비티 이름을 입력해주세요. (10자 이내)" id="activity_name" name="activity_name"
						th:value="${avo2.activity_name}" />
					<p class="textCount_name blind">0자</p>
					<div id="toastWrap_name" class="hide">
						<p class="toastText">글자수를 초과하였습니다.</p>
					</div>
				</div>

				<section id="introducediv">
					<section id="introduceLa">
						<label>액티비티 소개</label>
					</section>
					<section class="textLengthWrap">
						<textarea rows="8" cols="36" maxlength="500" placeholder="액티비티에 대해서 자세하게 설명해주세요."
							id="activity_description" name="activity_description"
							th:value="${avo2.activity_description}">${avo2.activity_description}</textarea>
						<section class="textLength">
							<p class="textCount">0자</p>
							<p class="textTotal">/500자</p>
						</section>
						<!--textLength end-->
						<div id="toastWrap_des" class="hide">
							<p class="toastText">글자수를 초과하였습니다.</p>
						</div>
					</section>
					<!--textLengthWrap end-->
				</section>
				<!--introducediv end-->

				<div id="city_div">
					<div id="city_la">
						<label>활동 지역</label>
					</div>
					<select id="city" name='city' class="input" value="${avo2.activity_city}">
						<option class="city_list" th:value='${avo2.activity_city}'>${avo2.activity_city}</option>
						<option class="city_list" value=''>도/시 선택</option>
						<option class="city_list" value='전체'>전체</option>
					</select> <select name='country' id="country" class=select value="${avo2.activity_county}">
						<option class="country_option" th:value='${avo2.activity_county}'>${avo2.activity_county}</option>
						<option class="country_option" value=''>군/구 선택</option>
						<option class="country_option" value='전체'>전체</option>
					</select>
				</div>
				<!--citydiv end-->

				<div id="interestdiv">
					<div id="interestLa">
						<label>활동 카테고리</label>
					</div>
					<select id="interest" value="${avo2.activity_interest_name}" name="interest">
						<option th:value="${avo2.activity_interest_name}" class="interest_opt">
							${avo2.activity_interest_name}</option>
						<option value="" class="interest_opt">선택</option>
					</select>
				</div>

				<div id="tagWrap">
					<input type="button" class="delete_interest interest_result blind">
				</div>

				<!--*************** 모임 가입 조건*************** -->
				<section class="conditionWrap">
					<section class="conditionHeader">
						<hr class="conditionLine">
						<h5>*모임에 가입할 회원들을 아래 선택 항목(성별,인원 수, 연령대) 기준으로 제한합니다.</h5>
					</section>
					<!--conditionHeader end-->
					<section class="conditionBody">
						<section id="genderdiv">
							<section id="genderLa">
								<label>성별</label>
							</section>
							<select id="gender" th:value="${avo2.activity_gender}" name="gender">
								<span th:if test="${avo2.activity_gender ne '무관'}">
									<option th:value="${avo2.activity_gender}">${avo2.activity_gender}</option>
								</span>
								<option value="무관">선택</option>
								<option value="여">여</option>
								<option value="남">남</option>
							</select>
						</section>

						<section id="nop">
							<section id="nopLa">
								<label>인원 수 (필수입력)</label>
							</section>
							<select id="numberofpeople" class="numberofpeople" name="nop" value="${avo2.activity_nop}">
								<option value="0">선택</option>
								<option th:each="num : ${#numbers.sequence(1,20)}" th:value="${avo2.activity_nop}" th:text="${num}"></option>
							</select>
						</section>

						<section id="ageWrap">
							<section id="ageHeader">
								<label>연령대</label>
							</section>
							<select id="ageBody" class="ageBody" name="age" th:value="${avo2.activity_age}">
								<th:block th:if="${avo2.activity_age}!=0">
								<option th:each="num : ${#numbers.sequence(10,100,10)}"><span th:value="${avo2.activity_age}" th:text="${num}"></span><span>대</span></option>
								</th:block>
								<th:block th:unless="${avo2.activity_age}!=0">
								<option value="0" class="age_bin_opt">선택</option>
								<option th:each="num : ${#numbers.sequence(10,100,10)}"><span th:value="${avo2.activity_age}" th:text="${num}"></span><span>대</span></option>
								</th:block>
							</select>
							<div id="tagWrap_age">
								<input type="button" class="delete_age age_result blind">
							</div>
						</section>
						<!--ageWrap end-->
					</section>
					<!--conditionBody end-->
				</section>
				<!--conditionWrap end-->

				<!-- ************************************************************* -->
				<!-- 액티비티 개설자와 해당 모임 -->
				<section class="blind">
					<label for="user_no">user_no:</label>
					<input type="text" id="user_no" name="user_no" th:value="${avo2.user_no}">
				</section>
				<section class="blind">
					<label for="meet_no">meet_no:</label>
					<input type="text" id="meet_no" name="meet_no" th:value="${avo2.meet_no }">
				</section>
				<!-- ************************************************************* -->

				<div class="submit">
					<input type="button" id="update_activity_information_btn" class="submit-application"
						value="액티비티정보수정">
					<input type="submit" id="real-submit" class="submit-application" value="액티비티정보수정"
						style="display:none;">
				</div>
			</div>
		</form>
	</div>
</body>