<!-- ------------ -->
<!-- @author 최진실 -->
<!-- ------------ -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
	<div class="activity-update-wrap" th:fragment="activity-content(title)">
		<div id="bodyWrap">
			<form class="innerBodyWrap" name="activity_update_form" action="activity_updateOK" method="post"
				enctype="multipart/form-data">
				<div class="activityCUDWrap">
					<section class="blind">
						<label for="activity_no">activity_no:</label>[[${avo.activity_no}]]<input id="activity_no"
							name="activity_no" th:value="${avo.activity_no}" />
					</section>
					<h2 id="activityTitle">[[${title}]]</h2>
					<hr class="StartLine">
					<div id="img_la">
						<label for="img_header">프로필 사진</label>
					</div>
					<div id="imgWrap">
						<section class="img_body">
							<div id="input-image">
								<img th:src="@{https://meet-a-bwa.s3.ap-northeast-2.amazonaws.com/activity/}+${avo.activity_image}"
									width=300px; height=200px; id="image"/>
								<input type="hidden" id="activity_image" th:value="${avo.activity_image}" name="activity_image" />
							</div>
							<div class="img_btn_meet_activity">
								<label class="input-file-btn" for="multipartFile_activity">
									<img src="/IMG/activity/imageAddBtn2.svg" width=70px; height=70px;>
								</label>
								<input type="file" id="multipartFile_activity" name="multipartFile_activity"
									class="input-file" />

								<button type="button" id="delete-file2" value="삭제">
									<img src="/IMG/activity/imageDropBtn2.svg" width=70px; height=70px; alt="삭제">
								</button>
							</div>
						</section>
					</div>
					<div id="namediv">
						<div id="nameLa">
							<label>액티비티 이름</label>
						</div>
						<input type="text" placeholder="액티비티 이름을 입력해주세요. (10자 이내)" id="activity_name"
							name="activity_name" th:value="${avo.activity_name}" />
						<p class="textCount_name blind">0자</p>
						<div id="toastWrap_name" class="hide">
							<p class="toastText">글자수를 초과하였습니다.</p>
						</div>
					</div>

					<section id="introducediv">
						<section id="introduceLa">
							<label>액티비티 소개</label>
						</section>
						<section class="textLengthWrap">
							<textarea rows="8" cols="36" maxlength="500" placeholder="액티비티에 대해서 자세하게 설명해주세요."
								id="activity_info" name="activity_info"
								th:value="${avo.activity_info}">[[${avo.activity_info}]]</textarea>
							<section class="textLength">
								<p class="textCount">0자</p>
								<p class="textTotal">/500자</p>
							</section>
							<!--textLength end-->
							<div id="toastWrap_des" class="hide">
								<p class="toastText">글자수를 초과하였습니다.</p>
							</div>
						</section>
						<!--textLengthWrap end-->
					</section>
					<!--introducediv end-->

					<div id="city_div">
						<div id="city_la">
							<label>활동 지역</label>
						</div>
						<select id="city" name='activity_city' class="input" th:field="*{avo.activity_city}"
							th:value="${avo.activity_city}">
							<th:block th:if="${not #strings.isEmpty(avo.activity_city)}">
								<option class="city_list" th:value="${avo.activity_city}" hidden th:text="${avo.activity_city}"></option>
							</th:block>
							<th:block th:unless="${not #strings.isEmpty(avo.activity_city)}">
								<option class="city_list" value='' hidden>도/시 선택</option>
							</th:block>
							<option class="city_list" th:value='전체'>전체</option>
						</select>
						<select name='activity_county' id="country" class=select th:value="${avo.activity_county}">
							<th:block th:if="${not #strings.isEmpty(avo.activity_county)}">
								<option class="country_option" th:value="${avo.activity_county}" hidden th:text="${avo.activity_county}"></option>
							</th:block>
							<th:block th:unless="${not #strings.isEmpty(avo.activity_city)}">
								<option class="country_option" value='' hidden>군/구 선택</option>
							</th:block>
							<option class="country_option" th:value='전체'>전체</option>
						</select>
					</div>
					<!--citydiv end-->

					<div id="interestdiv">
						<div id="interestLa">
							<label>활동 카테고리</label>
						</div>
						<select id="interest" name="activity_interest" th:field="*{avo.activity_interest}">
							<th:block th:if="${not #strings.isEmpty(avo.activity_interest)}">
								<option class="interest_opt" th:value="${avo.activity_interest}" hidden th:text="${avo.activity_interest}"></option>
							</th:block>
							<option value="" class="interest_opt">선택</option>
						</select>
					</div>

					<!--*************** 모임 가입 조건*************** -->
					<section class="conditionWrap">
						<section class="conditionHeader">
							<hr class="conditionLine">
							<h5>*액티비티에 가입할 회원들을 아래 선택 항목(성별,인원 수, 연령대) 기준으로 제한합니다.</h5>
						</section>
						<!--conditionHeader end-->
						<section class="conditionBody">
							<section id="genderdiv">
								<section id="genderLa">
									<label>성별</label>
								</section>
								<select id="gender" th:field="*{avo.activity_gender}" th:value="${avo.activity_gender}"
									name="activity_gender">
									<option th:value="무관">선택</option>
									<option th:value="여">여</option>
									<option th:value="남">남</option>
								</select>
							</section>

							<section id="nop">
								<section id="nopLa">
									<label>인원 수 (필수입력)</label>
								</section>
								<select id="numberofpeople" th:field="*{avo.activity_nop}" class="numberofpeople"
									name="activity_nop" th:value="${avo.activity_nop}">
									<option th:value="0">선택</option>
									<option th:each="num : ${#numbers.sequence(1,20)}" th:text="${num}"
										th:value="${num}"></option>
								</select>
							</section>

							<section id="ageWrap">
								<section id="ageHeader">
									<label>연령대</label>
								</section>
								<select id="ageBody" class="ageBody" name="age">
									<option value="0" class="age_bin_opt">선택</option>
									<option th:each="num : ${#numbers.sequence(10,100,10)}" th:text="${num}+대"></option>
								</select>
								<div id="tagWrap_age" th:if="${not #strings.isEmpty(avo.activity_age)}">
									<input type="hidden" value="" name="activity_age" id="real-input-age"
										th:value="${avo.activity_age}" />
									<input type="button" class=" delete_age age_result blind">
								</div>
							</section>
							<!--ageWrap end-->
						</section>
						<!--conditionBody end-->
					</section>
					<!--conditionWrap end-->

					<!-- ************************************************************* -->
					<!-- 액티비티 개설자와 해당 모임 -->
					<section class="blind">
						<label for="user_no">user_no:</label>
						<input type="text" id="user_no" name="user_no" th:value="${avo.user_no}">
					</section>
					<section class="blind">
						<label for="meet_no">meet_no:</label>
						<input type="text" id="meet_no" name="meet_no" th:value="${avo.meet_no}">
					</section>
					<!-- ************************************************************* -->

					<div class="submit">
						<input type="button" id="submit_activity" class="submit-application" value="액티비티정보수정">
						<input type="submit" id="real-submit" class="submit-application" value="액티비티정보수정"
							style="display:none;">
					</div>
				</div>
			</form>
		</div>
</body>