
#topSection{
    display: flex;
    width: 500px;
    margin: auto;
    justify-content: center;
    align-items: center;
}
.u_title{
    width: 470px;
    text-align: center;
    letter-spacing: 4px; /* 글자간격 조정 */
}
#e_u_closeBtn{
    width: 25px;
    height: 25px;
    cursor: pointer;
}


