body{
    width : 100%;
    height : 100%;
    margin: 0px;
    display: flex;
    justify-content: center;
}

@font-face {
    font-family: 'Happiness-Sans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/Happiness-Sans-Title.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'InfinitySans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/InfinitySans-RegularA1.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#bodyWrap{
    margin-top: 81px;
    
}

.blind{ display:none !important;}
.hide{ visibility: hidden;}

a{
    text-decoration: none;
}

ul{
    list-style: none;
    padding-inline-start: 0px;
    margin-block-start: 0em;
    margin-block-end: 0em;
}
select:focus{
    border: none;
}
input:focus{
    outline: none;
}
input[type=button]{
    cursor: pointer;
}

/*** 로딩화면 ***/
.popup-background{
    width: 100%;
    height: 100%;

    top: 0px;
    left:0px;

    position: fixed;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color : rgba(0, 0, 0, 0.5);

    z-index: 200;
}
.spinner-img{
    width: 140px;
    height: 140px;
}

/* ************* */
/*  CUSTOM ALERT POPUP SECTION */
/* ************* */
.alert-popup{
    width: 285px;
    height: 170px;
    background-color: #ffffff;
    border-radius: 5px;
    z-index: 100;
}
.alert-popup *{
    font-family: "Pretendard";
    font-weight: 700;
}
.alert-txt-section{
    height: 80%;
    font-size: 13.8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.alert-btn-section{
    height: 22%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #ffffff;
    cursor: pointer;

    background-color: #3DA5F5;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* ***************************** */
/*  CUSTOM CONFIRM POPUP SECTION */
/* ***************************** */
.confirm-popup{
    width: 280px;
    height: 180px;
    background-color: #ffffff;
    border-radius: 5px;

    z-index: 100;
}
.confirm-popup *{
    font-family: "Pretendard";
    font-weight: 500;
}
.confirm-txt-section{
    height: 80%;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.confirm-btn-section{
    width: 100%;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #ffffff;
    cursor: pointer;

    
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.confirm-yesBtn{
    width: 50%;
    height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: #3DA5F5;
    border-bottom-left-radius: 5px;
}
.confirm-noBtn{
    width: 50%;
    height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    color: #000000;
    background-color: #ffffff;

    box-sizing: border-box;
    border-top: 2px solid #e4e4e4;
    border-bottom-right-radius: 5px;
}