#searchWrap{
    width : 1320px;
    height : 85px;
    border-bottom : 1px solid #E4E4E4;
    align-items: center;
    display: flex;
}

#searchBar{
    width: 700px;
    height: 35px;
    border: 3px solid black;
    border-radius: 30px;
    display: flex;
    justify-content: center; /* 좌우 정렬 */
    align-items: center; /* 수직 정렬 */
    margin: auto;
    padding: 9px;
}

#searchBar *{
    font-family: 'Pretendard';
    font-weight : bold;
}

.selectCommon{
    height: 100%;
    border: none;
    font-size: 16px;
    background-color: transparent;
}

.optionCommon{
    width : 200px;
    height: 30px;
    color : black;
}

#category{
    width : 90px;
    margin-left: 20px;
}
#detailCategory{
    width : 150px;
}

.line{
    margin-top: 4px;
    margin-left: 25px;
    margin-right: 25px;
    height: 80%;
}

#searchImg{
    margin-right: 4px;
    width: 25px;
    height: 25px;
}

#searchWord{
    width : 300px;
    height: 80%;
    margin-right: 10px;
    border: 0px;
    font-size: 15px;
    color : #B2B3B9;
    background-color: transparent;
}

