<!-- ------------ -->
<!-- @author 최진실 -->
<!-- ------------ -->
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>밋;어봐 액티비티</title>

	<link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon" />

	<link rel="stylesheet" href="/CSS/common/toast.css" />
	<link rel="stylesheet" href="/CSS/common/common.css" />
	<link rel="stylesheet" href="/CSS/common/header.css" />
	<link rel="stylesheet" href="/CSS/common/searchBar.css" />
	<link rel="stylesheet" href="/CSS/common/footer.css" />
	<link rel="stylesheet" href="/CSS/user/login.css" />
	<link rel="stylesheet" href="/CSS/user/logout.css" />
	<link rel="stylesheet" href="/CSS/user/find-popup.css" />
	<link rel="stylesheet" href="/CSS/user/find-pw.css" />

	<link rel="stylesheet" href="/CSS/activity/insert.css" />
	<link rel="stylesheet" href="/CSS/activity/feed.css" />
	<link rel="stylesheet" href="/CSS/activity/popup.css" />
	<link rel="stylesheet" href="/CSS/activity/update.css" />

	<script src="/JS/common/jquery-3.6.1.min.js"></script>
	<script src="/JS/common/jquery.cookie.js"></script>
	<script src="/JS/common/login.js"></script>
	<script src="/JS/common/logout.js"></script>
	<script src="/JS/common/id_find.js"></script>
	<script src="/JS/common/pw_find.js"></script>
	<script src="/JS/common/header.js"></script>
	<script src="/JS/common/searchBar.js"></script>

	<script src="/JS/activity/insert.js" th:inline="javascript"></script>
	<script src="/JS/activity/update.js"></script>
	<script src="/JS/activity/feed.js"></script>

	<script th:inline="javascript">
		/*<![CDATA[*/
		var is_login = /*[[${session.user_id}]]*/ "is_login";
		/*]]*/
		var user_no = $.cookie('user_no');
	</script>


</head>

<body>
	<!--  START HEADER REPLACE -->
	<th:block th:replace="thymeleaf/html/common/header :: header(${is_login})"></th:block>
	<!--  END HEADER REPLACE -->

	<th:block id="bodyWrap">

		<!-- START CONTENT REPLACE -->
		<th:block th:replace="${content} :: activity-main-content(${title})"></th:block>
		<!-- END CONTENT REPLACE -->

		<!--  START FOOTER INCLUDE -->
		<th:block th:replace="thymeleaf/html/common/footer :: footer"></th:block>
		<!--  END FOOTER INCLUDE -->
		</div>
	</th:block>


	<!-- Popup -->
	<!-- 액티비티 삭제 재확인 -->
	<section class="activityDelete-popup blind">
		<div class="modal-bg">
			<div class="modal-wrap">
				<div class="modal-content-wrap">
					<section class="modal-content">
						<img src="/meet-a-bwa/resources//img/exitwar.svg" class="popupIcon">
					</section>
					<!--modal-content1-->
					<section class="modal-content-inner-delete">
						<section class="modal-content-delete1">
							<p>정말 액티비티를 삭제하시겠습니까?</p>
							<p>삭제한 액티비티는 복구하실 수 없습니다.</p>
						</section>
						<!--modal-content2-->
						<section class="modal-content-delete2">
							<button class="delete">액티비티 삭제</button>
							<button class="cancle">취소</button>
						</section>
						<!--modal-content3-->
					</section>
					<!--modal-content-inner end-->
				</div>
				<!--modal-content-wrap end-->
			</div>
			<!--modal-wrap end-->
		</div>
		<!--model-bg end-->
	</section>

	<!-- 액티비티 탈퇴 재확인 -->
	<section class="activityExit-popup blind">
		<div class="modal-bg">
			<div class="modal-wrap">
				<div class="modal-content-wrap">
					<section class="modal-content">
						<img src="/meet-a-bwa/resources/img/exitwar.svg" class="popupIcon">
					</section>
					<!--modal-content1-->
					<section class="modal-content-inner-withdrawal">
						<section class="modal-content-withdrawal1">
							<p>정말 액티비티를 탈퇴하시겠습니까?</p>
						</section>
						<!--modal-content2-->
						<section class="modal-content-withdrawal2">
							<button class="withdrawal">액티비티 탈퇴</button>
							<button class="cancle">취소</button>
						</section>
						<!--modal-content3-->
					</section>
					<!--modal-content-inner end-->
				</div>
				<!--modal-content-wrap end-->
			</div>
			<!--modal-wrap end-->
		</div>
		<!--model-bg end-->
	</section>

	<!-- 액티비티 가입 성공 -->
	<section class="joinSuccess-popup blind">
		<div class="modal-bg">
			<div class="modal-wrap">
				<div class="modal-content-wrap">
					<section class="modal-content">
						<img src="/meet-a-bwa/resources/img/meetApplicationSuccess.svg" class="popupIcon">
					</section>
					<!--modal-content1-->
					<section class="modal-content-inner-join">
						<section class="modal-content-join1">
							<p>축하합니다!</p>
							<p>액티비티에 가입되었습니다.</p>
							<p>즐거운 활동 되세요.</p>
						</section>
						<!--modal-content2-->
						<section class="modal-content-join2">
							<button class="go">확인</button>
						</section>
						<!--modal-content3-->
					</section>
					<!--modal-content-inner end-->
				</div>
				<!--modal-content-wrap end-->
			</div>
			<!--modal-wrap end-->
		</div>
		<!--model-bg end-->
	</section>

	<!-- START WARNING POPUP -->
	<div class="warning-layer blind">
		<div class="warning-popup-wrap">
			<div class="warning-img-section">
				<img src="/meet-a-bwa/resources/img/warning.svg" alt="경고 이미지" />
			</div>
			<h1 id="warning-text">로그인 후 이용가능한 기능입니다.</h1>

			<div class="btn-group">
				<button class="warning-close">취소</button>
			</div>
		</div>
	</div>
	<!-- END WARNING POPUP -->






	<!-- START LOGIN POPUP -->
	<div class="login-layer blind">
		<div class="login-popup-wrap">
			<div class="login-top">
				<img id="logo" src="/IMG/common/logo.svg" alt="login logo image" />
			</div>

			<div class="login-middle">
				<form action="/meet-a-bwa/m_loginOK.do" class="login-form" method="post" id="loginForm">
					<label for="id">아이디</label>
					<input type="text" id="idInput" name="id" placeholder="아이디 입력" />

					<label for="pw">비밀번호</label>
					<input type="password" id="pwInput" name="pw" placeholder="비밀번호 입력" />

					<input type="submit" onsubmit="check_length();" value="로그인">
					<input type="button" value="창닫기" id="login-popup-closeBtn">
				</form>

				<div class="login-bottom">
					<div id="id_find_btn" class="findCommon">ID 찾기</div>
					<div id="pw_find_btn" class="findCommon">PW 찾기</div>
					<div>
						<a href="/meet-a-bwa/u_insert.do" class="findCommon">회원가입</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- END LOGIN POPUP -->

	<!-- START LOGOUT POPUP -->
	<div class="logout-layer blind">
		<div class="logout-popup-wrap">
			<img src="/IMG/common/worry.svg" alt="logout worry img" />
			<h1>
				정말 로그아웃 <br />
				하시겠습니까?
			</h1>

			<div class="btn-group">
				<a href="/meet-a-bwa/logoutOK.do">
					<button class="btn-logout">로그아웃</button>
				</a>
				<button class="btn-cancel">취소</button>
			</div>
		</div>
	</div>
	<!-- END LOGOUT POPUP -->

	<!-- START WARNING POPUP -->
	<div class="warning-layer blind">
		<div class="warning-popup-wrap">
			<div class="warning-img-section">
				<img src="/IMG/common/warning.svg" alt="경고 이미지" />
			</div>
			<h1 id="warning-text">로그인 후 이용가능한 기능입니다.</h1>

			<div class="btn-group">
				<button class="warning-close">취소</button>
			</div>
		</div>
	</div>
	<!-- END WARNING POPUP -->

	<!-- START ID - FIND POPUP -->
	<div id="id_find_wrap" class="find-popup-layer blind">
		<div class="find-popup-wrap">
			<div class="popup-header">
				<h1>ID 찾기</h1>
				<h3>가입 시 기입한 <br />이메일을 입력해주세요.</h3>
			</div>

			<input id="id-email-input" class="email-input" type="text" placeholder="이메일을 입력해주세요" />
			<p id="id_find_result" class="resultCommon blind"></p>

			<div class="btn-group">
				<button id="id_find_okBtn" class="btn-find">확인</button>
				<button id="id_find_cancleBtn" class="btn-cancel">취소</button>
			</div>
		</div>
	</div>
	<!-- END ID FIND POPUP -->

	<!-- START PW - FIND POPUP -->
	<div id="pw_find_wrap" class="find-popup-layer blind">
		<div class="find-popup-wrap">
			<div class="popup-header">
				<h1>비밀번호를 잊어버리셨나요?</h1>
				<h3>가입 시 기입한 <br />이메일을 입력해주세요.</h3>
			</div>

			<input id="pw-email-input" class="email-input" type="text" placeholder="이메일을 입력해주세요" />
			<p id="pw_find_result" class="resultCommon blind"></p>

			<div class="btn-group">
				<button id="pw_find_okBtn" class="btn-find-pw">확인</button>
				<button id="pw_find_cancleBtn" class="btn-cancel">취소</button>
			</div>
		</div>
	</div>
	<!-- END PW FIND POPUP -->

	<!-- START toastWrap -->
	<div id="toastWrap" class="hide">
		<span id="toast_txt"></span>
	</div>
	<!-- END toastWrap -->
</body>

</html>