<!-- ------------ -->
<!-- @author 최진실 -->
<!-- ------------ -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
	<div th:fragment="activity-main-content(isLogin)">
		<!--		<div id="bodyWrap" class="bodyWrap">-->
		<div id="contentWrap" class="bodyWrap">
			<div id="innercontentWrap">
				<div id="meetLeftWrap">
					<div class="act-profile-img">
						<img th:src="@{https://meet-a-bwa.s3.ap-northeast-2.amazonaws.com/activity/}+${avo.activity_image}"
							alt="default 이미지" id="meetImg">
					</div>
					<div class="act-detail-aside-top">
						<h1 class="act-deatil-aside-title">[[${avo.activity_name}]]</h1>
						<div class="likeWrap">
							<section class="heartSection" idx="${avo.activity_no}">
								<img src="/IMG/common/heart-outlined.svg" alt='라인하트이미지'
									class="beforeLike_heart heartCommon" /> <img src="/IMG/common/heart-filled.svg"
									alt='풀하트이미지' class="afterLike_heart heartCommon blind" />
							</section>
							<span class="likeCnt">[[${like_cnt}]]</span>
						</div>
					</div>
					<div class="act-summary-info">
						<p>
							<span>멤버 : </span> <span>[[${user_cnt}]]</span> <span>명</span>
						</p>
						<p>
							<span> 리더 : </span> <span>[[${avo.user_nickname}]]</span>
						</p>
					</div>

					<div class="tagSection">
						<th:block th:if="${not #strings.isEmpty(avo.activity_city)}">
							<div class="loca_tag tag">
								<img src="/IMG/common/map.png" class="tag_img">
								<span class="location_name font_size_10">[[${avo.activity_city}]]</span>
							</div>
						</th:block>
						<th:block th:if="${not #strings.isEmpty(avo.activity_county)}">
							<div class="loca_tag tag">
								<img src="/IMG/common/map.png" class="tag_img">
								<span class="location_name font_size_10">[[${avo.activity_county}]]</span>
							</div>
						</th:block>
						<th:block th:if="${not #strings.isEmpty(avo.activity_interest)}">
							<div class="cate_tag tag">
								<span class="category_name font_size_10">[[${avo.activity_interest}]]</span>
							</div>
						</th:block>
						<th:block th:if="${not #strings.isEmpty(avo.activity_age)}">
							<div class="age_tag tag">
								<span class="category_name font_size_10">[[${avo.activity_age}]]</span>
							</div>
						</th:block>
						<th:block th:if="${not #strings.isEmpty(avo.activity_gender)}">
							<div class="gen_tag tag">
								<span class="category_name font_size_10">[[${avo.activity_gender}]]</span>
							</div>
						</th:block>
					</div>


					<!-- 가입 전 -->
					<!-- 가입후, 개설자 -->
					<th:block th:if="${avo.user_no!=cookie} and not ${#lists.contains(regi_user_no,cookie)} ">
						<button type="button" id="join_activity_btn" th:attr="idx=${avo.activity_no}">
							<a>액티비티 가입하기</a>
						</button>
					</th:block>


				</div>
				<!--meetLeftWrap end-->

				<div id="innerbodyWrap">
					<section id="intro">
						<section class="blind">
							<label for="activity_no">activity_no:</label>[[${avo.activity_no}]]<input id="activity_no"
								name="activity_no" th:value="${avo.activity_no}">
						</section>
						<section id="introHeader">
							<h3 id="introTitle">액티비티 소개</h3>
							<!--액티비티 개설자만 보이는 수정/삭제 버튼-->
							<!--user에게 보이는 탈퇴 버튼-->
							<th:block th:if="${avo.user_no==cookie}">
								<input type="image" src="/IMG/activity/edit.svg" class="activityUpdateBtn font_size_10"
									value="수정"  th:attr="idx=${avo.activity_no}">
								<input type="image" src="/IMG/activity/remove.svg"
									class="activityDeleteBtn font_size_10" value="삭제"  th:attr="idx=${avo.activity_no}"> 
							</th:block>
							<th:block th:if="${avo.user_no!=cookie} and ${#lists.contains(regi_user_no,cookie)}">
								<input type="image" src="/IMG/activity/exit.svg" class="activityExitBtn font_size_10"
									value="탈퇴"  th:attr="idx=${avo.activity_no}">
							</th:block>
						</section>
						<hr class="firstLine">
						<section id="innerIntro">
							<section id="IntroInfo">
								<h4 class="introInfo">액티비티 정보</h4>
								<ul class="introInfoUl">
									<li class="openDate">액티비티 개설일 : [[${avo.activity_date}]]</li>
									<li class="nop">멤버 수 : [[${user_cnt}]] / [[${avo.activity_nop}]] 명</li>
								</ul>
							</section>
							<!--introInfo end-->
							<hr class="secondLine">
							<section id="IntroDescription">
								<p class="IntroDescription">[[${avo.activity_info}]]</p>
							</section>
							<!--IntroDescription end-->
							<!-- <hr class="thirdLine"> -->
						</section>
						<!--innerIntro end-->
					</section>
					<!--intro end-->


					<th:block th:if="${avo.user_no!=cookie} and not ${#lists.contains(regi_user_no,cookie)}">
						<div id="pheed_1">
							<p id="defaultPheedText_1">액티비티에 가입해서 더 많은 정보를 찾아보세요!</p>
						</div>
					</th:block>

					<th:block th:if="${avo.user_no==cookie} or ${#lists.contains(regi_user_no,cookie)}">
						<section id="pheed" class="pheed">

							<section class="voteApplication">
								<section class="pheedVote">
									<section class="pheedVoteHeader">
										<h4 class="pheedVoteHeaderText">투표</h4>
										<button class="addBtn" id="vote_create_btn">
											<img class="imgBtn" src="/IMG/activity/add.png" alt="">
										</button>
									</section>

									<section class="pheedVoteBody">
										<th:block th:if="${#lists.isEmpty(vvos)}">
											<p id="VotedefaultPheedText">생성된 투표가 없습니다.</p>
										</th:block>
										<th:block th:if="${!#lists.isEmpty(vvos)}">
											<th:block th:each="vvos:${vvos}">
												<section class="blind">
													<label for="activity_no">activity_no:</label><input th:value="${vvos.activity_no}">
												</section>
												<section>
													<div class="content_list_activity event-list vote_action"
														 th:attr="idx=${vvos.vote_no}">
														<section class="blind">
															<label
																for="vote_no">vote_no:</label>[[${vvos.vote_no}]]<input
																id="vote_no" name="vote_no" th:value="${vvos.vote_no}">
														</section>
														<section class="blind">
															<label
																for="vote_state">vote_state:</label>[[${vvos.vote_state}]]<input
																id="vote_state" name="vote_state"
																th:value="${vvos.vote_state}">
														</section>
														<section class="blind">
															<label
																for="user_no">user_no:</label>[[${vvos.user_no}]]<input
																class="usre_no" name="user_no" th:value="${vvos.user_no}">
														</section>
														<section class="blind">
															<label
																for="activity_no">activity_no:</label>[[${vvos.activity_no}]]<input
																
																th:value="${vvos.activity_no}">
														</section>
														<div class="vote-list-wrap" idx="${vvos.vote_no}">
															<div class="listCommon">
																<span class="content_title"
																	th:value="${vvos.vote_title}">[[${vvos.vote_title}]]</span>
															</div>
															<div class="description_list listCommon">
																<span class="content_description"
																	th:value="${vvos.vote_info}">
																	[[${vvos.vote_info}]]</span>
															</div>
															<div class="meet_info">
																<div class="meet_member_info">
																	<span class="member_cnt member_ment"
																		th:vale="${vvos.user_cnt}">[[${vvos.user_cnt}]]명</span>
																	<span class="member_ment">참여 중</span>
																</div>
																<img src="/IMG/common/smallLine.png" class="smallLine">
																<div class="period_info">
																	<span class="member_ment">투표 마감 : </span>
																	<span class="member_ment"
																		th:value="${vvos.vote_eod}">[[${vvos.vote_eod}]]</span>
																</div>
															</div>
														</div>
													</div>
												</section>
											</th:block>
										</th:block>
									</section>
								</section>


								<section class="pheedEvent">
									<section class="pheedEventHeader">
										<h4 class="pheedEventHeaderText">이벤트</h4>
										<button class="addBtn" id="event_create_btn">
											<img class="imgBtn" src="/IMG/activity/add.png" alt="">
										</button>
									</section>

									<section class="pheedEventBody">
										<th:block th:if="${#lists.isEmpty(evos)}">
											<p id="EventdefaultPheedText">생성된 이벤트가 없습니다.</p>
										</th:block>
										<th:block th:if="${!#lists.isEmpty(evos)}">
											<th:block th:each="evos:${evos}">
												<section class="blind">
													<label for="activity_no">activity_no:</label><input th:value="${evos.activity_no}">
												</section>

												<section>
													<div class="content_list_activity event-list event_action"
														 th:attr="idx=${evos.event_no}">
														<section class="blind">
															<label
																for="event_no">event_no:</label>[[${evos.event_no}]]<input
																id="event_no" name="event_no"
																th:value="${evos.event_no}">
														</section>
														<section class="blind">
															<label
																for="user_no">user_no:</label>[[${evos.user_no}]]<input
																class="usre_no" name="user_no" th:value="${evos.user_no}">
														</section>
														<section class="blind">
															<label
																for="activity_no">activity_no:</label>[[${evos.activity_no}]]<input
																
																th:value="${evos.activity_no}">
														</section>
														<div class="event-list-wrap">
															<div class="listCommon">
																<span class="content_title"
																	th:value="${evos.event_title}">[[${evos.event_title}]]</span>
															</div>
															<div class="description_list listCommon">
																<span class="content_description"
																	th:value="${evos.event_content}">
																	[[${evos.event_content}]]</span>
															</div>
														</div>
													</div>
												</section>
											</th:block>
									</section>
								</section>
							</section>
						</section>
					</th:block>

					<!-- ************************************************************* -->
					<!-- 액티비티 개설자와 해당 모임 -->
					<section class="blind">
						<label for="user_no">user_no:</label> <input type="text" id="user_no" name="user_no"
							th:value="${avo.user_no}">
					</section>
					<section class="blind">
						<label for="cookie">cookie: </label> <input type="text" id="cookie" name="cookie">
					</section>
					<section class="blind">
						<label for="meet_no">meet_no:</label> <input type="text" id="meet_no" name="meet_no"
							th:value="${avo.meet_no}">
					</section>
					<!-- ************************************************************* -->

				</div>
				<!--innerbodywrap end-->
			</div>
			<!--innercontentWrap end-->
		</div>
		<!--contentWrap end-->
		<!--		</div>-->
		<!--bodyWrap end-->
	</div>

	<div th:fragment="activity-main-null-content">
		<!--		<div id="bodyWrap" class="bodyWrap">-->
		<div id="contentWrap" class="bodyWrap">
			<div id="innercontentWrap">
				<div id="meetLeftWrap">
					<div class="act-profile-img">
						<img th:src="@{https://meet-a-bwa.s3.ap-northeast-2.amazonaws.com/activity/}+${avo.activity_image}"
							alt="default 이미지" id="meetImg">
					</div>
					<div class="act-detail-aside-top">
						<h1 class="act-deatil-aside-title">[[${avo.activity_name}]]</h1>
						<div class="likeWrap">
							<section class="heartSection" idx="${avo.activity_no}">
								<img src="/IMG/common/heart-outlined.svg" alt='라인하트이미지'
									class="beforeLike_heart heartCommon" /> <img src="/IMG/common/heart-filled.svg"
									alt='풀하트이미지' class="afterLike_heart heartCommon blind" />
							</section>
							<span class="likeCnt">[[${like_cnt}]]</span>
						</div>
					</div>
					<div class="act-summary-info">
						<p>
							<span>멤버 : </span> <span>[[${user_cnt}]]</span> <span>명</span>
						</p>
						<p>
							<span> 리더 : </span> <span>[[${avo.user_nickname}]]</span>
						</p>
					</div>

					<div class="tagSection">
						<th:block th:if="${not #strings.isEmpty(avo.activity_city)}">
							<div class="loca_tag tag">
								<img src="/IMG/common/map.png" class="tag_img">
								<span class="location_name font_size_10">[[${avo.activity_city}]]</span>
							</div>
						</th:block>
						<th:block th:if="${not #strings.isEmpty(avo.activity_county)}">
							<div class="loca_tag tag">
								<img src="/IMG/common/map.png" class="tag_img">
								<span class="location_name font_size_10">[[${avo.activity_county}]]</span>
							</div>
						</th:block>
						<th:block th:if="${not #strings.isEmpty(avo.activity_interest)}">
							<div class="cate_tag tag">
								<span class="category_name font_size_10">[[${avo.activity_interest}]]</span>
							</div>
						</th:block>
						<th:block th:if="${not #strings.isEmpty(avo.activity_age)}">
							<div class="age_tag tag">
								<span class="category_name font_size_10">[[${avo.activity_age}]]</span>
							</div>
						</th:block>
						<th:block th:if="${not #strings.isEmpty(avo.activity_gender)}">
							<div class="gen_tag tag">
								<span class="category_name font_size_10">[[${avo.activity_gender}]]</span>
							</div>
						</th:block>
					</div>


					<!-- 가입 전 -->
					<!-- 가입후, 개설자 -->
					<button type="button" id="join_activity_btn" th:attr="idx=${avo.activity_no}">
						<a>액티비티 가입하기</a>
					</button>


				</div>
				<!--meetLeftWrap end-->

				<div id="innerbodyWrap">
					<section id="intro">
						<section class="blind">
							<label for="activity_no">activity_no:</label>[[${avo.activity_no}]]<input id="activity_no"
								name="activity_no" th:value="${avo.activity_no}">
						</section>
						<section id="introHeader">
							<h3 id="introTitle">액티비티 소개</h3>
						</section>
						<hr class="firstLine">
						<section id="innerIntro">
							<section id="IntroInfo">
								<h4 class="introInfo">액티비티 정보</h4>
								<ul class="introInfoUl">
									<li class="openDate">액티비티 개설일 : [[${avo.activity_date}]]</li>
									<li class="nop">멤버 수 : [[${user_cnt}]] / [[${avo.activity_nop}]] 명</li>
								</ul>
							</section>
							<!--introInfo end-->
							<hr class="secondLine">
							<section id="IntroDescription">
								<p class="IntroDescription">[[${avo.activity_info}]]</p>
							</section>
							<!--IntroDescription end-->
							<!-- <hr class="thirdLine"> -->
						</section>
						<!--innerIntro end-->
					</section>
					<!--intro end-->



					<!--///////////////////////////////////////////////가입 전(이벤트, 투표, 모임신청 없을 때)/////////////////////////////////////////////-->
					<!--///////////////////////////////////////////////가입 후(이벤트, 투표, 모임신청 없을 때)/////////////////////////////////////////////-->
					<!--///////////////////////////////////////////////가입 후(이벤트, 투표, 모임신청 있을 때)//////////////////////////////////////////////-->


					<th:block>
						<div id="pheed_1">
							<p id="defaultPheedText_1">액티비티에 가입해서 더 많은 정보를 찾아보세요!</p>
						</div>
					</th:block>

					<!-- ************************************************************* -->
					<!-- 액티비티 개설자와 해당 모임 -->
					<section class="blind">
						<label for="user_no">user_no:</label> <input type="text" id="user_no" name="user_no"
							th:value="${avo.user_no}">
					</section>
					<section class="blind">
						<label for="meet_no">meet_no:</label> <input type="text" id="meet_no" name="meet_no"
							th:value="${avo.meet_no}">
					</section>
					<section class="blind">
						<input type="text" id="recruitment_etime" name="recruitment_etime"
							th:value="${avo.recruitment_etime}">
					</section>
					<!-- ************************************************************* -->

				</div>
				<!--innerbodywrap end-->
			</div>
			<!--innercontentWrap end-->
		</div>
		<!--contentWrap end-->
		<!--		</div>-->
		<!--bodyWrap end-->
	</div>
</body>